In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("imdb.csv")
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [8]:
## Which director appears most frequently in the dataset?
df["Director"].value_counts().sort_values()
most_frequent_director = df["Director"].value_counts().idxmax()
print("Most frequent director:", most_frequent_director)
# print("Most frequent director:", most_frequent_director)

Most frequent director: Alfred Hitchcock

In [9]:
## Which movie has the longest title?
longest_title_movie = df.loc[df["Series_Title"].str.len().idxmax(), "Series_Title"]
print("Movie with the longest title:", longest_title_movie)

Movie with the longest title: Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb

In [10]:
##  Which Genres Have the Most Movies with a Rating Above 8.5
high_rated_genres = df[df["IMDB_Rating"] > 8.5]["Genre"].str.split(",").explode().value_counts()
print(high_rated_genres)

Genre
 Drama        20
Action        10
 Adventure     8
Crime          8
Drama          7
 Fantasy       4
Biography      3
 Sci-Fi        3
 Family        2
 Thriller      2
Comedy         2
 Romance       2
 History       2
 Crime         2
 Mystery       2
Western        1
Adventure      1
Animation      1
 War           1
Name: count, dtype: int64

In [11]:
## How Many Movies Were Released Between 1990 and 2000?
df["Released_Year"] = pd.to_numeric(df["Released_Year"], errors='coerce')
movies_90s = df[(df["Released_Year"] >= 1990) & (df["Released_Year"] <= 2000)]
print("Movies released between 1990 and 2000:", len(movies_90s))

Movies released between 1990 and 2000: 169