In [118]:
import pandas as pd
import numpy as np

In [177]:
df = pd.read_csv("imdb.csv")
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [121]:
## List all movies released after the year 2010.
df["Released_Year"] = pd.to_numeric(df["Released_Year"], errors='coerce')
movies_after_2010 = df[df['Released_Year'] > 2010 ]

In [122]:
print(movies_after_2010[['Series_Title',"Released_Year"]])

           Series_Title  Released_Year
18             Hamilton         2020.0
19         Gisaengchung         2019.0
20      Soorarai Pottru         2020.0
21         Interstellar         2014.0
33                Joker         2019.0
..                  ...            ...
901        End of Watch         2012.0
903      A Star Is Born         2018.0
907               50/50         2011.0
910           Moneyball         2011.0
911  La piel que habito         2011.0

[225 rows x 2 columns]

In [123]:
## Show all movies with an IMDB rating higher than 8.5.
df["IMDB_Rating"].astype(float)
movies_with_IMDB= df[df["IMDB_Rating"] > 8.5]
print("Movies with IMDB rating > 8.5:")
print(movies_with_IMDB[["Series_Title", "IMDB_Rating"]])

Movies with IMDB rating > 8.5:
                                         Series_Title  IMDB_Rating
0                            The Shawshank Redemption          9.3
1                                       The Godfather          9.2
2                                     The Dark Knight          9.0
3                              The Godfather: Part II          9.0
4                                        12 Angry Men          9.0
5       The Lord of the Rings: The Return of the King          8.9
6                                        Pulp Fiction          8.9
7                                    Schindler's List          8.9
8                                           Inception          8.8
9                                          Fight Club          8.8
10  The Lord of the Rings: The Fellowship of the Ring          8.8
11                                       Forrest Gump          8.8
12                    Il buono, il brutto, il cattivo          8.8
13              The Lord of the Rings: The Two Towers          8.7
14                                         The Matrix          8.7
15                                         Goodfellas          8.7
16     Star Wars: Episode V - The Empire Strikes Back          8.7
17                    One Flew Over the Cuckoo's Nest          8.7
18                                           Hamilton          8.6
19                                       Gisaengchung          8.6
20                                    Soorarai Pottru          8.6
21                                       Interstellar          8.6
22                                     Cidade de Deus          8.6
23                      Sen to Chihiro no kamikakushi          8.6
24                                Saving Private Ryan          8.6
25                                     The Green Mile          8.6
26                                    La vita è bella          8.6
27                                              Se7en          8.6
28                           The Silence of the Lambs          8.6
29                                          Star Wars          8.6
30                                            Seppuku          8.6
31                               Shichinin no samurai          8.6
32                              It's a Wonderful Life          8.6

In [135]:
## List all movies in the Drama genre.
df["Genre"].str.split(", ").explode().value_counts().head()
Only_Drama = df[df["Genre"] == "Drama"]
print(Only_Drama[["Series_Title", "Genre"]])

                        Series_Title  Genre
0           The Shawshank Redemption  Drama
9                         Fight Club  Drama
17   One Flew Over the Cuckoo's Nest  Drama
20                   Soorarai Pottru  Drama
40                American History X  Drama
..                               ...    ...
933             Synecdoche, New York  Drama
934                  Mysterious Skin  Drama
941                        25th Hour  Drama
946                Y tu mamá también  Drama
981                   On Golden Pond  Drama

[85 rows x 2 columns]

In [147]:
# Remove ' min' from the 'Runtime' column and convert it to integer
df["Runtime"] = df["Runtime"].str.replace(" min", "", regex=True).astype(int)

# Filter movies with runtime greater than 150 minutes
Movie_greater_150_min = df[df["Runtime"] > 150]

# Display the relevant columns
print(Movie_greater_150_min[["Series_Title", "Runtime"]])

                                      Series_Title  Runtime
1                                    The Godfather      175
2                                  The Dark Knight      152
3                           The Godfather: Part II      202
5    The Lord of the Rings: The Return of the King      201
6                                     Pulp Fiction      154
..                                             ...      ...
947          Harry Potter and the Sorcerer's Stone      152
955                              The Thin Red Line      170
974                        The Godfather: Part III      162
990                                   Giù la testa      157
996                                          Giant      201

[147 rows x 2 columns]

In [154]:
## Find all movies with the word 'Love' in the title.
df["Series_Title"] = df["Series_Title"].astype(str) == "Love"
df[df["Series_Title"] == "Love"]

Empty DataFrame
Columns: [Poster_Link, Series_Title, Released_Year, Certificate, Runtime, Genre, IMDB_Rating, Overview, Meta_score, Director, Star1, Star2, Star3, Star4, No_of_Votes, Gross]
Index: []

In [166]:
## List movies with a Meta_score greater than 90.
Meta_score_gt_90 = df[df["Meta_score"] > 90]
print(Meta_score_gt_90[["Series_Title", "Meta_score"]])

                                      Series_Title  Meta_score
1                                    The Godfather       100.0
4                                     12 Angry Men        96.0
5    The Lord of the Rings: The Return of the King        94.0
6                                     Pulp Fiction        94.0
7                                 Schindler's List        94.0
..                                             ...         ...
875                                       Fantasia        96.0
881                            The Florida Project        92.0
895                                       Leviafan        92.0
994                             A Hard Day's Night        96.0
999                                   The 39 Steps        93.0

[132 rows x 2 columns]

In [169]:
## List movies with Certificate 'U' or 'UA'.
Certificate_U_UA =df[(df["Certificate"] == "U")| (df["Certificate"] == "UA")]
print(Certificate_U_UA[["Series_Title", "Certificate"]])

                                          Series_Title Certificate
2                                      The Dark Knight          UA
4                                         12 Angry Men           U
5        The Lord of the Rings: The Return of the King           U
8                                            Inception          UA
10   The Lord of the Rings: The Fellowship of the Ring           U
..                                                 ...         ...
984                                   The Muppet Movie           U
986                                     Watership Down           U
988                 Close Encounters of the Third Kind           U
992                                    The Jungle Book           U
994                                 A Hard Day's Night           U

[409 rows x 2 columns]

In [170]:
# Filter movies that have both "Action" and "Adventure" in the Genre column
Action_Adventure = df[df["Genre"].str.contains("Action") & df["Genre"].str.contains("Adventure")]

# Display the result
print(Action_Adventure[["Series_Title", "Genre"]])

                                          Series_Title  \
5        The Lord of the Rings: The Return of the King
8                                            Inception
10   The Lord of the Rings: The Fellowship of the Ring
13               The Lord of the Rings: The Two Towers
16      Star Wars: Episode V - The Empire Strikes Back
..                                                 ...
914                                    Sherlock Holmes
927             Harry Potter and the Half-Blood Prince
944                                    Batoru rowaiaru
963                         Die Hard: With a Vengeance
982                                          Mad Max 2

                           Genre
5       Action, Adventure, Drama
8      Action, Adventure, Sci-Fi
10      Action, Adventure, Drama
13      Action, Adventure, Drama
16    Action, Adventure, Fantasy
..                           ...
914   Action, Adventure, Mystery
927    Action, Adventure, Family
944     Action, Adventure, Drama
963  Action, Adventure, Thriller
982    Action, Adventure, Sci-Fi

[83 rows x 2 columns]

In [ ]:
# Remove commas from the 'Gross' column and convert to numeric, coerce errors to NaN (for invalid entries)
df["Gross"] = pd.to_numeric(df["Gross"].str.replace(",", "", regex=True), errors="coerce")

# Filter movies with gross earnings greater than $100 million
movies_above_100M = df[df["Gross"] > 100_000_000]
print(movies_above_100M[["Series_Title", "Gross"]])

                                      Series_Title        Gross
1                                    The Godfather  134966411.0
2                                  The Dark Knight  534858444.0
5    The Lord of the Rings: The Return of the King  377845905.0
6                                     Pulp Fiction  107928762.0
8                                        Inception  292576195.0
..                                             ...          ...
973                                     Home Alone  285761243.0
976                             The Little Mermaid  111543479.0
981                                 On Golden Pond  119285432.0
988             Close Encounters of the Third Kind  132088635.0
992                                The Jungle Book  141843612.0

[187 rows x 2 columns]

In [ ]:
# Step 1: Calculate the average rating
average_rating = df["IMDB_Rating"].mean()

# Step 2: Filter movies with rating above average and runtime greater than 120 minutes
df["Runtime"] = df["Runtime"].str.replace(" min", "", regex=True).astype("int64")  # Convert runtime to int
movies_above_avg_rating_and_runtime = df[(df["IMDB_Rating"] > average_rating) & (df["Runtime"] > 120)]
print(movies_above_avg_rating_and_runtime[["Series_Title", "IMDB_Rating", "Runtime"]])

                                      Series_Title  IMDB_Rating  Runtime
0                         The Shawshank Redemption          9.3      142
1                                    The Godfather          9.2      175
2                                  The Dark Knight          9.0      152
3                           The Godfather: Part II          9.0      202
5    The Lord of the Rings: The Return of the King          8.9      201
..                                             ...          ...      ...
437                            Anatomy of a Murder          8.0      161
447                       A Streetcar Named Desire          8.0      122
454                    The Best Years of Our Lives          8.0      170
457                            The Grapes of Wrath          8.0      129
461                 All Quiet on the Western Front          8.0      152

[264 rows x 3 columns]