In [1]:
import pandas as pd
import numpy as np

In [52]:
df = pd.read_csv("imdb.csv")
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [23]:
## Group the dataset by Genre and find the average IMDB rating for each.
# Split genres and explode into separate rows
genre_exploded = df.assign(Genre=df['Genre'].str.split(', ')).explode('Genre')
# Group by Genre and calculate average IMDB rating
df["IMDB_Rating"].astype(float)
genre_avg_rating = genre_exploded.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False)
# Display the result
print(genre_avg_rating)

Genre
Unknown    7.9493
Name: IMDB_Rating, dtype: float64

In [30]:
## Count how many movies are in each genre.
df["Genre"].str.split().explode().value_counts()

Genre
Drama,        442
Drama         282
Action,       189
Crime,        185
Comedy,       185
Adventure,    180
Thriller      133
Romance       116
Biography,    108
Animation,     82
Sci-Fi         59
Mystery        51
War            50
Fantasy        49
Comedy         48
Mystery,       48
History        41
Family         33
Crime          24
Family,        23
Music          21
Western        20
Horror,        20
Sport          19
Fantasy,       17
Adventure      16
Musical        15
History,       15
Music,         14
Horror         12
Film-Noir      10
Romance,        9
Film-Noir,      9
Sci-Fi,         8
Thriller,       4
Musical,        2
Biography       1
War,            1
Name: count, dtype: int64

In [41]:
## Count the number of movies per year.
df["Released_Year"] = pd.to_numeric(df["Released_Year"], errors='coerce')
# Count the number of movies per year
movies_per_year = df["Released_Year"].value_counts().sort_index()
print(movies_per_year)

Released_Year
1920.0     1
1921.0     1
1922.0     1
1924.0     1
1925.0     2
          ..
2016.0    28
2017.0    22
2018.0    19
2019.0    23
2020.0     6
Name: count, Length: 99, dtype: int64

In [50]:
## Group by Certificate and calculate the average runtime for each category.
# Convert 'Runtime' column to integer
df["Runtime"] = df["Runtime"].str.replace(" min", "", regex=True).astype(int)

# Group by 'Certificate' and calculate the average runtime
avg_runtime_by_certificate = df.groupby("Certificate")["Runtime"].mean().astype(int)
print(avg_runtime_by_certificate)

Certificate
16          130
A           128
Approved    111
G           119
GP          124
PG          114
PG-13       116
Passed      106
R           122
TV-14       132
TV-MA       106
TV-PG        93
U           124
U/A         102
UA          129
Unrated     183
Name: Runtime, dtype: int32

In [54]:
## Group by Main Genre and find the average Gross income.
# Convert 'Gross' column to numeric (remove commas and convert to float)
df["Gross"] = df["Gross"].replace({",": ""}, regex=True).astype(float)

# Extract the first genre as 'Main_Genre'
df["Main_Genre"] = df["Genre"].str.split(",").str[0]

# Group by 'Main_Genre' and calculate the average Gross income
avg_gross_by_genre = df.groupby("Main_Genre")["Gross"].mean()
print(avg_gross_by_genre)

Main_Genre
Action       1.419631e+08
Adventure    8.645499e+07
Animation    1.279675e+08
Biography    6.012873e+07
Comedy       3.253759e+07
Crime        3.419123e+07
Drama        3.867728e+07
Family       2.195553e+08
Fantasy               NaN
Film-Noir    1.278626e+06
Horror       7.358577e+07
Mystery      3.043953e+07
Thriller     1.755074e+07
Western      1.455538e+07
Name: Gross, dtype: float64

In [55]:
## Display the top 5 most repeated directors.
top_5_directors = df["Director"].value_counts().head(5)
print(top_5_directors)

Director
Alfred Hitchcock    14
Steven Spielberg    13
Hayao Miyazaki      11
Martin Scorsese     10
Akira Kurosawa      10
Name: count, dtype: int64

In [56]:
## Find the top 5 directors with the highest average IMDB rating (minimum 2 movies).
top_directors_rating = (
    df.groupby("Director")["IMDB_Rating"]
    .agg(["count", "mean"])  # Count number of movies and calculate mean rating
    .query("count >= 2")  # Filter directors with at least 2 movies
    .sort_values("mean", ascending=False)
    .head(5)
)
print(top_directors_rating)

                      count    mean
Director
Frank Darabont            2  8.9500
Milos Forman              2  8.5000
Christopher Nolan         8  8.4625
Francis Ford Coppola      5  8.4000
Peter Jackson             5  8.4000

In [57]:
## Group by Decade and calculate the average Meta_score.
# Convert 'Released_Year' to numeric
df["Released_Year"] = pd.to_numeric(df["Released_Year"], errors="coerce")

# Create 'Decade' column
df["Decade"] = (df["Released_Year"] // 10) * 10

# Calculate the average Meta Score per Decade
avg_meta_score_decade = df.groupby("Decade")["Meta_score"].mean()
print(avg_meta_score_decade)

Decade
1920.0    95.000000
1930.0    90.800000
1940.0    92.450000
1950.0    90.375000
1960.0    83.050847
1970.0    81.166667
1980.0    77.073171
1990.0    74.141791
2000.0    73.737089
2010.0    77.308458
2020.0    82.750000
Name: Meta_score, dtype: float64

In [58]:
## Count the number of movies in each Certificate category.
certificate_counts = df["Certificate"].value_counts()
print(certificate_counts)

Certificate
U           234
A           197
UA          175
R           146
PG-13        43
PG           37
Passed       34
G            12
Approved     11
TV-PG         3
GP            2
TV-14         1
16            1
TV-MA         1
Unrated       1
U/A           1
Name: count, dtype: int64

In [59]:
## List the top 5 years with the most movie releases.
top_5_years = df["Released_Year"].value_counts().head(5)
print(top_5_years)

Released_Year
2014.0    32
2004.0    31
2009.0    29
2013.0    28
2016.0    28
Name: count, dtype: int64