In [1]:
import pandas as pd
import numpy as np

Load the dataset using pandas.
Display the first 5 rows of the dataset.

In [2]:
## Load the dataset using pandas.
## Display the first 5 rows of the dataset.

df = pd.read_csv("Mobile_Dataset_2025.csv", encoding= 'latin-1')
df.head(3)

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 224,999","INR 79,999","CNY 5,799",USD 799,"AED 2,799",2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 234,999","INR 84,999","CNY 6,099",USD 849,"AED 2,999",2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 244,999","INR 89,999","CNY 6,499",USD 899,"AED 3,199",2024

Print the number of rows and columns in the dataset.
Check for missing values in each column.

In [3]:
# Print the number of rows and columns
print("Number of rows and columns:", df.shape)

Number of rows and columns: (930, 15)

In [4]:
## Check for missing values in each column.
df.isnull().any()
## There no null value.

Company Name                 False
Model Name                   False
Mobile Weight                False
RAM                          False
Front Camera                 False
Back Camera                  False
Processor                    False
Battery Capacity             False
Screen Size                  False
Launched Price (Pakistan)    False
Launched Price (India)       False
Launched Price (China)       False
Launched Price (USA)         False
Launched Price (Dubai)       False
Launched Year                False
dtype: bool

In [5]:
df.head(2)

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 224,999","INR 79,999","CNY 5,799",USD 799,"AED 2,799",2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 234,999","INR 84,999","CNY 6,099",USD 849,"AED 2,999",2024

1. Convert columns like Price, RAM, and Storage to numeric types if needed.
2. Handle any missing values (either fill or drop them appropriately).

In [6]:
# Removing the currency from the price
df['Launched Price (Pakistan)'] = df['Launched Price (Pakistan)'].replace({'PKR': '', ',': ''}, regex=True)
df['Launched Price (India)'] = df['Launched Price (India)'].replace({'INR': '', ',': ''}, regex=True)
df['Launched Price (China)'] = df['Launched Price (China)'].replace({'CNY': '', ',': ''}, regex=True)
df['Launched Price (USA)'] = df['Launched Price (USA)'].replace({'USD': '', ',': ''}, regex=True)
df['Launched Price (Dubai)'] = df['Launched Price (Dubai)'].replace({'AED': '', ',': ''}, regex=True)

# Convert the 'Price' columns to numeric (float)
df['Launched Price (Pakistan)'] = pd.to_numeric(df['Launched Price (Pakistan)'], errors='coerce')
df['Launched Price (India)'] = pd.to_numeric(df['Launched Price (India)'], errors='coerce')
df['Launched Price (China)'] = pd.to_numeric(df['Launched Price (China)'], errors='coerce')
df['Launched Price (USA)'] = pd.to_numeric(df['Launched Price (USA)'], errors='coerce')
df['Launched Price (Dubai)'] = pd.to_numeric(df['Launched Price (Dubai)'], errors='coerce')

# Removing 'GB' from the 'RAM' column
df["RAM"] = df["RAM"].replace("GB", "", regex=True)

# Convert the 'RAM' column to numeric (float)
df["RAM"] = pd.to_numeric(df["RAM"], errors='coerce')

# Extract storage from 'Model Name'
df['Storage'] = df['Model Name'].str.extract(r'(\d+)GB')  # Extract numbers followed by "GB"
df['Storage'] = pd.to_numeric(df['Storage'], errors='coerce')

df.head(2)

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year,Storage
0,Apple,iPhone 16 128GB,174g,6.0,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,224999.0,79999,5799.0,799.0,2799,2024,128.0
1,Apple,iPhone 16 256GB,174g,6.0,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,234999.0,84999,6099.0,849.0,2999,2024,256.0

Handle any missing values (either fill or drop them appropriately).

In [7]:
## check if any missing values are present or not
df.isnull().any()

Company Name                 False
Model Name                   False
Mobile Weight                False
RAM                           True
Front Camera                 False
Back Camera                  False
Processor                    False
Battery Capacity             False
Screen Size                  False
Launched Price (Pakistan)     True
Launched Price (India)       False
Launched Price (China)        True
Launched Price (USA)         False
Launched Price (Dubai)       False
Launched Year                False
Storage                       True
dtype: bool

In [8]:
## Fill missing value with 0 or any other value
df["RAM"] = df["RAM"].fillna(0)
df["Launched Price (Pakistan)"] = df["Launched Price (Pakistan)"].fillna("Unknown")
df["Launched Price (China)"] = df["Launched Price (China)"].fillna("Unknown")
df["Storage"] = df["Storage"].fillna(0)

In [9]:
df.isnull().any()

Company Name                 False
Model Name                   False
Mobile Weight                False
RAM                          False
Front Camera                 False
Back Camera                  False
Processor                    False
Battery Capacity             False
Screen Size                  False
Launched Price (Pakistan)    False
Launched Price (India)       False
Launched Price (China)       False
Launched Price (USA)         False
Launched Price (Dubai)       False
Launched Year                False
Storage                      False
dtype: bool

1. Find the average (mean), maximum, and minimum price of all phones.
2. Use NumPy to calculate the standard deviation of the Price column.

In [10]:
# Removing the currency from the price and converting to numeric
price_columns = ["Launched Price (Pakistan)", "Launched Price (India)", 
                 "Launched Price (China)", "Launched Price (USA)", 
                 "Launched Price (Dubai)"]

for col in price_columns:
    df[col] = df[col].astype(str).replace({'PKR': '', 'INR': '', 'CNY': '', 
                                         'USD': '', 'AED': '', ',': ''}, regex=True)
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Calculate statistics
avg_price = df[price_columns].mean()
max_price = df[price_columns].max()   
min_price = df[price_columns].min()   

# Display results
print("Average Prices:")
print(avg_price)
print("\nMaximum Prices:")
print(max_price)
print("\nMinimum Prices:")
print(min_price)

Average Prices:
Launched Price (Pakistan)    125436.063509
Launched Price (India)        50576.818280
Launched Price (China)         3795.185345
Launched Price (USA)            625.515763
Launched Price (Dubai)         2183.933333
dtype: float64

Maximum Prices:
Launched Price (Pakistan)    604999.0
Launched Price (India)       274999.0
Launched Price (China)        17999.0
Launched Price (USA)          39622.0
Launched Price (Dubai)        11099.0
dtype: float64

Minimum Prices:
Launched Price (Pakistan)    15999.0
Launched Price (India)        5999.0
Launched Price (China)         499.0
Launched Price (USA)            79.0
Launched Price (Dubai)         299.0
dtype: float64

In [11]:
df.isnull().any()

Company Name                 False
Model Name                   False
Mobile Weight                False
RAM                          False
Front Camera                 False
Back Camera                  False
Processor                    False
Battery Capacity             False
Screen Size                  False
Launched Price (Pakistan)     True
Launched Price (India)       False
Launched Price (China)        True
Launched Price (USA)         False
Launched Price (Dubai)       False
Launched Year                False
Storage                      False
dtype: bool

In [12]:
# Handling null value
df["Launched Price (Pakistan)"] = df["Launched Price (Pakistan)"].fillna("Unknown")
df["Launched Price (China)"] = df["Launched Price (China)"].fillna("Unknown")

In [13]:
df.isnull().any()

Company Name                 False
Model Name                   False
Mobile Weight                False
RAM                          False
Front Camera                 False
Back Camera                  False
Processor                    False
Battery Capacity             False
Screen Size                  False
Launched Price (Pakistan)    False
Launched Price (India)       False
Launched Price (China)       False
Launched Price (USA)         False
Launched Price (Dubai)       False
Launched Year                False
Storage                      False
dtype: bool

In [14]:
# Removing the currency from the price and converting to numeric
price_columns = ["Launched Price (Pakistan)", "Launched Price (India)", 
                 "Launched Price (China)", "Launched Price (USA)", 
                 "Launched Price (Dubai)"]

for col in price_columns:
    df[col] = df[col].astype(str).replace({'PKR': '', 'INR': '', 'CNY': '', 
                                         'USD': '', 'AED': '', ',': ''}, regex=True)
    df[col] = pd.to_numeric(df[col], errors='coerce')

## Use NumPy to calculate the standard deviation of the Price column.
std = np.std(df[price_columns], axis=0)
print(std)

Launched Price (Pakistan)    101538.828882
Launched Price (India)        40938.151836
Launched Price (China)         2707.492929
Launched Price (USA)           1346.836521
Launched Price (Dubai)         1564.789678
dtype: float64

1. List all phones with more than 6 GB of RAM.
2. Show phones that are priced under ₹30,000 and have at least 128 GB storage.

In [15]:
## List all phones with more than 6 GB of RAM.

# Removing 'GB' from the 'RAM' column
df["RAM"] = df["RAM"].replace("GB", "", regex=True)

# Convert the 'RAM' column to numeric (float)
df["RAM"] = pd.to_numeric(df["RAM"], errors='coerce')

phone_with_more_than_6GB = df[df["RAM"] > 6]
print(phone_with_more_than_6GB[["Model Name", "RAM"]])

                  Model Name   RAM
7        iPhone 16 Pro 256GB   8.0
8        iPhone 16 Pro 512GB   8.0
10   iPhone 16 Pro Max 256GB   8.0
11   iPhone 16 Pro Max 512GB   8.0
19       iPhone 15 Pro 256GB   8.0
..                       ...   ...
925             Pad 5G 128GB   8.0
926             Pad 5G 256GB   8.0
927     Galaxy Z Fold6 256GB  12.0
928     Galaxy Z Fold6 512GB  12.0
929       Galaxy Z Fold6 1TB  12.0

[533 rows x 2 columns]

Show phones that are priced under ₹30,000 and have at least 128 GB storage.

In [17]:

## Show phones that are priced under ₹30,000 and have at least 128 GB storage.
price_under_30k = df[(df["Launched Price (India)"] < 30000) & (df["RAM"]>= 12)]
print(price_under_30k[["Launched Price (India)", "RAM"]])

     Launched Price (India)   RAM
399                   29999  12.0
407                   26999  12.0
424                   20000  12.0
431                   27999  12.0
438                   20000  12.0
440                   24999  12.0
444                   22999  12.0
448                   27999  12.0
471                   29999  12.0
475                   21999  12.0
481                   24999  12.0
571                   22999  12.0
603                   29999  12.0
756                   24999  12.0
761                   27999  12.0
766                   24999  12.0
767                   27999  12.0
770                   22999  12.0
777                   29999  12.0

1. Create a new column named 'Price_Category':
 - Budget: Price ≤ ₹15,000
 - Mid-Range: ₹15,001 – ₹30,000
 - Premium: Price > ₹30,000

In [18]:
def price_categories(price):
    if price <= 15000:
        return 'Budget'
    elif 15001 <= price <= 30000:
        return 'Mid-Range'
    else:
        return 'Premium'
    
df["Price_Catogory"] = df["Launched Price (India)"].apply(price_categories)
df.head(2)

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year,Storage,Price_Catogory
0,Apple,iPhone 16 128GB,174g,6.0,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,224999.0,79999,5799.0,799.0,2799,2024,128.0,Premium
1,Apple,iPhone 16 256GB,174g,6.0,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,234999.0,84999,6099.0,849.0,2999,2024,256.0,Premium

Create a new column 'Is_5G' that indicates whether the phone supports 5G (True/False

In [19]:
df["Is_5G"] = (df["RAM"] == 5)

In [20]:
df["Is_5G"]

0      False
1      False
2      False
3      False
4      False
       ...
925    False
926    False
927    False
928    False
929    False
Name: Is_5G, Length: 930, dtype: bool

In [21]:
df = pd.read_csv("Mobile_Dataset_2025.csv", encoding='latin-1')

1. Group the dataset by Brand and calculate the average price of each brand.
2. Count how many phones are offered by each brand.

In [22]:
# Clean and convert the price column (remove currency symbols & commas)
df["Launched Price (India)"] = df["Launched Price (India)"].str.replace("INR", "", regex=True)
df["Launched Price (India)"] = df["Launched Price (India)"].str.replace(",", "").astype(float)

# Group by Brand (Company Name) and calculate the average price
average_price_by_brand = df.groupby("Company Name")["Launched Price (India)"].mean()

# Print result
print(average_price_by_brand)

Company Name
Apple       102998.597938
Google       70332.333333
Honor        48850.648352
Huawei      102798.571429
Infinix      17320.428571
Lenovo       25392.400000
Motorola     33692.548387
Nokia        13771.727273
OnePlus      45734.849057
Oppo         43758.449612
POCO         22649.000000
Poco         24999.000000
Realme       26147.652174
Samsung      63605.500000
Sony         91665.666667
Tecno        36806.692308
Vivo         35770.267442
Xiaomi       57258.259259
iQOO         43999.000000
Name: Launched Price (India), dtype: float64

2.Count how many phones are offered by each brand.

In [23]:
phone_offered_by_each_brand = df["Company Name"].value_counts()

In [24]:
print(phone_offered_by_each_brand)
##SUSMITA KUNWAR

Company Name
Oppo        129
Apple        97
Honor        91
Samsung      88
Vivo         86
Realme       69
Motorola     62
Infinix      56
OnePlus      53
Huawei       42
Tecno        39
POCO         30
Xiaomi       27
Google       21
Lenovo       15
Nokia        11
Sony          9
iQOO          3
Poco          2
Name: count, dtype: int64

Find the phone with the best Price-to-RAM ratio (lowest price per GB of RAM).

In [25]:
# First, create the 'Price-to-RAM ratio' column by dividing the price by the RAM (in GB)
# Assuming the price column is 'Launched Price (India)' and the RAM column is 'RAM'
df['Launched Price (India)'] = df['Launched Price (India)'].replace({'INR': '', ',': ''}, regex=True)
df['Launched Price (India)'] = pd.to_numeric(df['Launched Price (India)'], errors='coerce')

# Removing 'GB' from the 'RAM' column
df["RAM"] = df["RAM"].replace("GB", "", regex=True)

# Convert the 'RAM' column to numeric (float)
df["RAM"] = pd.to_numeric(df["RAM"], errors='coerce')

df['Price-to-RAM Ratio'] = df['Launched Price (India)'] / df['RAM']
# Find the phone with the best Price-to-RAM ratio (lowest ratio)
best_phone = df.loc[df['Price-to-RAM Ratio'].idxmin()]

# Print the phone with the best Price-to-RAM ratio
print(best_phone)

Company Name                            Infinix
Model Name                               Hot 40
Mobile Weight                              196g
RAM                                         8.0
Front Camera                               32MP
Back Camera                                50MP
Processor                    MediaTek Helio G88
Battery Capacity                       5,000mAh
Screen Size                         6.78 inches
Launched Price (Pakistan)            PKR 35,999
Launched Price (India)                  12499.0
Launched Price (China)                CNY 1,199
Launched Price (USA)                    USD 199
Launched Price (Dubai)                  AED 749
Launched Year                              2023
Price-to-RAM Ratio                     1562.375
Name: 763, dtype: object